<html>
  <head>
    <title>Printer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
        <h1> {{printer.string()}}</h1>
        <hr>
        <p>Current Line: {{printer.progress[0]}} Total Line Numbers: {{printer.progress[1]}}</p>
        <button class="button" onclick="window.location.reload();">refresh</button>
        <p>E temp: {{printer.temps[1]}}  B temp: {{printer.temps[0]}}</p>
        <form action="" method="post" id="stfForm" >
          {% if printer.status[0] %}
            <input type="submit" id="btnStop" value="Stop" name="stop">
          {% else %}
            <input type="submit" id="btnStop" value="Stop" name="stop" disabled>
          {% endif %}
          {% if printer.status[0] and not printer.status[1] %}
            <input type="submit" id="btnPause" value="Pause" name="pause" >
          {% else %}
            <input type="submit" id="btnPause" value="Pause" name="pause" disabled>
          {% endif %}
          {% if printer.status[1] %}
            <input type="submit" id="btnResume" value="Resume" name="resume" >
          {% else %}
            <input type="submit" id="btnResume" value="Resume" name="resume" disabled>
          {% endif %}
        </form>
        <div>
          <form method="post" enctype="multipart/form-data" >
            <input type=file name=file>
            <input type=submit value=Upload>
          </form> 
          <form action=""  method="post">
            <label for="command">CLI:</label>
            <input type="text" id="com" name="command">
            <input type="submit" value="submit">
          </form>
          <p>Gcode Files:</p>
          <form action="" method="post">
            {% for f in printer.gcodes %}
              {% if not printer.status[0] %}
                <input type="submit" value="{{ f }}" name="file" ondblclick="remove(this);" >
              {% else %}
                <input type="submit" value="{{ f }}" name="file" disabled>
              {% endif %}
            {% endfor %}     
          </form>
        </div>
        <hr>
        <p><a href="/logout">Logout</a>               <a href="/dashboard">Back</a></p>
    </div>
  </body>
</html>
